%table{:class=>'list'}
  %tr
    %th Name
    %th Description
    %th{:colspan=>3}
      
  - tags.each do |t|
    - if t.children==0
      %tr
        %td= t.name
        %td= t.description
        %td= link_to 'View&nbsp;'.html_safe, t
        %td= link_to '&nbsp;Edit&nbsp;'.html_safe, edit_tag_path(t)
        %td
          %a{:class=>'destroy',:id=>t.id,:href=>'#'} &nbsp;Destroy
    - if t.children>0
      %tr{:class=>'parent',:rel=>t.id}
        %td.boldtext= t.name
        %td.boldtext= t.description
        %td= link_to 'View&nbsp;'.html_safe, t
        %td= link_to '&nbsp;Edit&nbsp;'.html_safe, edit_tag_path(t)
        %td
          %a{:class=>'destroy',:id=>t.id,:href=>'#'} &nbsp;Destroy
      = getchildren t.id

  %br/
