- games.each do |game|
  - if game.type_of==1
    - if game==games.last
      %tr{:class=>'parent lastgame',:rel=>game.id,:id=>"tr#{offset}"}
    -else
      %tr{:class=>'parent',:rel=>game.id}
    %td.namecolumn.boldtext= game.name
    %td{:colspan=>2}
    %td.boldtext
      =gettags(game).html_safe
    %td= link_to 'Show&nbsp;'.html_safe, game
    %td= link_to 'Edit&nbsp;'.html_safe, edit_game_path(game)
    %td
      %a{:class=>'destroy',:id=>game.id,:href=>'#'} Destroy
  = getchildgames game.id 
  - if game.type_of==0
    -if game==games.last
      %tr{:class=>'lastgame',:rel=>game.id,:id=>"tr#{offset}"}
    -else
      %tr{:rel=>game.id}
    %td= game.name
    %td= game.year
    %td= game.rating
    %td 
      =gettags(game).html_safe
    %td= link_to 'Show&nbsp;'.html_safe, game
    %td= link_to 'Edit&nbsp;'.html_safe, edit_game_path(game)
    %td
      %a{:class=>'destroy',:id=>game.id,:href=>'#'} Destroy
