%script{:type=>'text/javascript'}
  $(function() {
  $('tr').live('mouseover mouseout',function(e) {
  if (e.type=='mouseover') {
  $(this).css('background-color','#eee');
  } else {
  $(this).css('background-color','white');
  }
  });
  $('.destroy').live('click',function(e) {
  e.preventDefault();
  var game=$(this).attr('id');
  $.ajax({
  url:'/games/destroy/'+game,
  type:'get',
  dataType:'json',
  success:function() {
  $('#'+game).parents('tr').fadeOut();
  }
  });
  });
  $(window).scroll(function() {
  var scrolltop=$(window).scrollTop();
  var docheight=$(document).height();
  var winheight=$(window).height();
  if (scrolltop>docheight-(winheight+5) && scrolltop<=docheight-(winheight-5)) {
  
  $.ajax({
  url:'/loadnewgames/'+$('.lastgame:last').attr('rel')+'/'+$('.lastgame:last').attr('id').substring(2),
  type:'get'
  });
  }
  });
  });
  
%form{:method=>'post',:action=>'/mass_delete'}
  = token_tag
  %div#control
    %ul
      %li
        %input{:type=>'submit',:value=>'Delete',:name=>'mass_delete'}
      %li
        = link_to 'New Game', new_game_path
        
  %h1 Games

  

  %table.list
    %tr
      %th{:style=>'width:30px;'}
      %th.namecolumn Name
      %th.yearcolumn Year
      %th.ratingcolumn Rating
      %th Tags
      %th{:colspan=>3}
      
    - @games.each do |game|
      - if game.type_of==1
        %tr{:class=>( game==@games.last ? 'parent lastgame' : 'parent'),:rel=>game.id,:id=>( game==@games.last ? "tr#{LIST_OFFSET}" : "")}
          %td.checkcolumn
            %input{:type=>'checkbox',:name=>'mass[]',:value=>game.id }
          %td.namecolumn.boldtext= game.name
          %td{:colspan=>2}
          %td.boldtext
            =gettags(game).html_safe
          %td= link_to 'Show&nbsp;'.html_safe, game
          %td= link_to 'Edit&nbsp;'.html_safe, edit_game_path(game)
          %td
            %a{:class=>'destroy',:id=>game.id,:href=>'#'} Destroy
          = getchildgames game.id 
      - if game.type_of==0
        %tr{:class=>( game==@games.last ? 'lastgame' : ''),:rel=>game.id,:id=>( game==@games.last ? "tr#{LIST_OFFSET}" : "")}
          %td.checkcolumn
            %input{:type=>'checkbox',:name=>'mass[]',:value=>game.id}
          %td= game.name
          %td= game.year
          %td= game.rating
          %td 
            =gettags(game).html_safe
          %td= link_to 'Show&nbsp;'.html_safe, game
          %td= link_to 'Edit&nbsp;'.html_safe, edit_game_path(game)
          %td
            %a{:class=>'destroy',:id=>game.id,:href=>'#'} Destroy
%br/
