= content_for :results do
  %h2 Games
  %ul.searchresults
    - @indiv.each do |k,v|
      %li 
        %h4= k.name
        %h4{:class=>"#{get_rating_color(v,@full)}"} #{v}/#{@full}
  %h2 Series
  %ul.searchresults
    - @series.each do |k,v|
      %li
        %h4= k.name
        %h4{:class=>"#{get_rating_color(v,@full)}"} #{v}/#{@full}
