%html
  %head>
    %title Videogames
    = render(:partial=>'stylesheets')
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery"
    = csrf_meta_tag
  %body
    %ul.topnav
      %li= link_to 'Tags',tags_path
      %li= link_to 'Games',games_path
      %li= link_to 'Search','/search'
      %li= link_to 'Browse','/browse'
      
%h1 Browse

%br/

#browseby
  %h3 Genre
  = build_browsing_category(@genres,'genre').html_safe
  %h3 Platform
  = build_browsing_category(@platforms,'platform').html_safe
  %h3 Theme
  = build_browsing_category(@themes,'theme').html_safe
  %h3 Developer
  = build_browsing_category(@devs,'dev').html_safe
  
#main
  %form{:method=>'get',:action=>'/results'}
    %input{:type=>'text',:name=>'query',:id=>'searchfield'}
    %input{:type=>'submit',:value=>'Search'}
  = yield :results

